
.is-style-purple-border img{
    border: 2px solid purple;
    border-radius: 15px;
    box-shadow: var(--wp--preset--shadow--natural)
}

.is-style-red-border img{
    border: 2px solid rgb(231, 21, 21);
    border-radius: 15px;
    box-shadow: var(--wp--preset--shadow--natural)
}